#user-icon {
    font-size: 50px;
}

#header {
    display: inline;
}

#message-icon {
    font-size: 40px;
}

#message-label {
    display: inline;
}

#logout {
    width: 5rem;
}

#message-row {
    margin-top: 2rem;
}

#user-button {
    display: block;
    width: 100%;
    margin: auto;
    padding: auto;
}

#list {
    padding: .5rem;
}

#message-content {
    border: 1px solid black;
    height: 35rem;
    position: relative;
    padding: 0;
}

#compose-text {
    display: block;
    width: 100%;
    height: 3.2rem;
    border-top: 1px solid black;
    position: absolute;
    margin: auto;
    padding: auto;
    bottom: 0;
}

#row-compose{
    padding-top: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#button-send {
    display: block;
    width: 100%;
    margin: auto;
    padding: auto;
}

#type-message-column {
    padding-right: 0;
}
