#loginForm {
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#loginContainer {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

label {
    font-size: 18px;
}

#buttonFormGroup {
    margin-top: 2rem;
}

#login {
    display: block;
    margin: auto;
    padding: auto;
    width: 100%;
}

.card {
    height: 35rem;
    padding-bottom: 1rem;
}

.card-body{
    position: relative;
}


#button-send {
    display: block;
    width: 100%;
    margin: auto;
    padding: auto;
}

#compose-text {
    
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-right: 3rem;
    padding-bottom: .7rem;
}

#col-button {
    padding-right: 2rem;
}

#type-message-column {
    padding-right: 0;
}
#messages {
    list-style-type: none;
    display: block;
    width: 100%;
    margin: auto;
    padding: auto;
    overflow: scroll;
    height: 420px;
    padding: 1rem;
}

#row-message {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 1rem;
    display: block;
}

#container-row {
    width: 51%;
    
}

#message-container-scroll {
    padding: 1rem;
}

#date-label {
    display: block;
    width: 100%;
    
    font-size: 10px;
}